.containerPerfil{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vh;
}

.container-profile{
    background-color: rgb(61, 125, 96);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}